
.product__item{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding: 20px;
}
.product__info h3{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
    height: 50px;
   
}
.product__info span{
    font-size: .9rem;    
}
.product__info a:hover{
    color: inherit;
}
.product__cart-bottom .price{
    font-weight: 500;
    color: var(--primary-color);
    font-size: 1.3rem;
}
.product__cart-bottom span i{
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
} 