
footer{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   padding: 20px;
   background: var(--primary-color);
}
.logo .footer_title{
    color: #fff;
}
.quich__links-title{
    color: #fff;
}
.footer__copyright{
    width: fit-content ;
    margin: 20px auto ;
    display: block ;
}
.footer__quich-links ul li {
    background: transparent !important;
    color: rgba(170, 169, 169, 0.734);
}
.footer__quich-links ul li a:hover{
    color: #fff;
}
.footer__text{
    line-height: 35px;
}
